<div class="home">
    <div class="home-layout">
        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" >
                    <!--Mask color-->
                    <section class="video-container">
                        <video src="/video/Milky Way.mp4" autoplay loop playsinline muted></video>
                        {{!-- <video src="https://player.vimeo.com/external/181445574.hd.mp4?s=d24f32d879305e931468d55e4d7ce6efb5a95c39&amp;profile_id=119" autoplay loop playsinline muted></video>-->
                        <div class="callout">
                            <h1>Object-Fit 👍</h1>
                            <div>The CSS Background-Size: Cover for Inline Images &amp; Videos</div>
                        </div>
                        <div class="support">
                            <a href="http://caniuse.com/#search=object-fit">Browser Support</a><br>
                            <a href="https://github.com/jonathantneal/fitie">Need to support IE &amp; Edge?</a>
                        </div> --}}
                    </section>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">The Milky Way</h3>
                        <p>Earth’s home galaxy</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="/img/homecarousel1.jpg"
                             alt="First slide" height="100%">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Socrates, Philosopher</h3>
                        <p>Man must rise above the Earth—to the top of the atmosphere and beyond—for only thus will he fully understand the world in which he lives.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="/img/homecarousel2.jpg"
                             alt="Second slide" height="100%">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Anaxagoras, Philosopher</h3>
                        <p>"The purpose of life is the investigation of the Sun, the Moon, and the heavens."</p>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

        <!-- Begin Constellation -->
<!--Introduce-->


        <div class="home-item">
           <h1>Welcome to Us!</h1>
            <br>
            <h2>Have you ever wondered where our big home Earth is located in The Miky Way Galaxy ?</h2>
            <h4>or</h4>
            <h3>You must have heard of constellations but how can you see them?</h3>
            <p id="intro1">We created this website to serve and attract lovers of Space and Astronomy. Where they can exchange and discover about astronomy.
                Even if you are new to this field, it's okay, we will guide and help you.<b><i>Solar System Scope which is a model of Solar System, Night sky and Outer Space in real time, with accurate positions of objects and lots of interesting facts.</i></b>
                Watch it in the frame below, you can easy to find out the position of the Earth or Solar System in The Milky Way and you can check the position in the Earth where was easy to watch the Constellation.<br></p>
            <center><img src="/img/arrowdown.png"/> </center>
            <div class="guide">
                <iframe src="https://www.solarsystemscope.com/iframe" width="1000" height="800" style="min-width:500px; min-height: 400px; border: 2px solid #0f5c6e;"></iframe>
            </div>
            <center>
                <p id="intro2">Although only a model, it has provided you with an overview of the position and basic information of the solar system as well as some nearby stars.
                    Next to learn more you can choose under the categories below</p>
                <img src="/img/arrowdown.png"/>
            </center>

        </div>

        <div class="home1">
            <div class="accordian">
                <ul>
                    <li>
                        <div class="image_title">
                            <a href="#">News</a>
                        </div>
                        <a href="#">
                            <img src="/img/news.jpg" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Solar System</a>
                        </div>
                        <a href="#">
                            <img src="/img/solar/Solar-system.jpg"/>
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Constellation Guide</a>
                        </div>
                        <a href="#">
                            <img src="/img/constellations.png"/>
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Gallery</a>
                        </div>
                        <a href="#">
                            <img src="/img/gallery.jpg" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Observatory Location</a>
                        </div>
                        <a href="#">
                            <img src="/img/location.jpg"/>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="home-item" >
            <h3>Equipment Introduction </h3>
            <div id="intro3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/equipment/telescope1.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ToyerBee Astronomical Refractor</h5>
                    <p class="card-text">Helpful for looking at the expansive sky, this telescope has a large aperture, which means it has a big field of vision. </p>
                    <center><a href="/Contact" class="btn btn-primary">Contact us to buy</a></center>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/equipment/telescope2.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Orion GoScope III 70mm Refractor Travel</h5>
                    <p class="card-text">This telescope kit has everything you need for successful stargazing. It features a telescope with two eyepieces. </p>
                    <center><a href="/Contact" class="btn btn-primary">Contact us to buy</a></center>
                </div>
            </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/img/equipment/telescope3.webp" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            Gskyer Refracting Telescope</h5>
                        <p class="card-text">This easy-to-assemble telescope comes with step-by-step picture instructions and is a great option for kids/beginners.</p>
                        <center><a href="/Contact" class="btn btn-primary">Contact us to buy</a></center>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/img/equipment/telescope4.webp" alt="Card image cap" height="286">
                    <div class="card-body">
                        <h5 class="card-title">Barska Starwatcher 675 Power Refractor</h5>
                        <p class="card-text">The telescope was created with beginners and young astronomers in mind, so it is simple to set up and easy to use. </p>
                        <center><a href="/Contact" class="btn btn-primary">Contact us to buy</a></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>